*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

#map {
    height: 95%; 
    margin: 0 auto; 
}

:root {
  --mdc-theme-primary: green;
  --mdc-theme-secondary: lime;
}

.control{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

.control i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    opacity: 80%;
}

#map .control img:hover{
    opacity: 100%;
}

#search-box {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  border-radius: 3px;
  border: 0;
  margin-top: 10px;
  width: 360px;
  height: 40px;
  text-overflow: ellipsis;
  padding: 0 1em;
}

.map-button {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 20px;
  border-radius: 3px;
  border: 0px;
  margin-bottom: 10px;
  width: 180px;
  height: 40px;
  text-align: center;
  padding: 0 1em;
  opacity: 80%;
}

.map-button:hover{
    opacity: 100%;
}

form img {
    max-width: 100px;
    max-height: 100px;
}

#imageDiv {
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}

#imagePreview {
  display: none;
  width: 100%;
}