*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html, body{
    font-family: Roboto; 
    height: 100%;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.invisible-file-input {
    display: none;
}

.visible-file-input {
    display: block;
    height: 1px;
    width: 1px;
    position: relative;
    left: 50%;
    bottom: 3px;
}

.form-field {
    display: block;
    width: 80%;
    margin: 15px auto;
}

.left-element {
  width: 30%;
  float: left;
  max-height: 95%;
  overflow: auto;
}

.right-element {
    width: 70%;
    float: right;
}

.align-center {
    text-align: center;
}

.position-align-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.aligned-element
{
    vertical-align:middle;
}

.form-card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border: 0px;
  margin: 10px;
  padding: 30px 20px;
  width: 95%;
  min-width: 250px;
}

#map {
    margin-top: 10px;
    position: relative;
    height: 95%;
    margin: 0 auto; 
}

:root {
  --mdc-theme-primary: green;
  --mdc-theme-secondary: #80ba83;
}

.primary-text {
    color: green;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: green;
}

.control{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

.control i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    opacity: 80%;
}

#map .control img:hover{
    opacity: 100%;
}

#search-box {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  border-radius: 3px;
  border: 0;
  margin-top: 10px;
  width: 360px;
  height: 40px;
  text-overflow: ellipsis;
  padding: 0 1em;
}

.map-button {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 20px;
  border-radius: 3px;
  border: 0px;
  margin-bottom: 10px;
  width: 180px;
  height: 40px;
  text-align: center;
  padding: 0 1em;
  opacity: 80%;
}

.map-button:hover{
    opacity: 100%;
}

form img {
    max-width: 100px;
    max-height: 100px;
}

#imageDiv {
  width: 80%;
  min-height: 100px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border: 0px;
  margin: 5px auto 15px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#imagePreview {
  display: none;
  width: 100%;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding-top: 0.1px;
}

.my-card {
    height: 400px;
    width: 100%;
}

.my-place-guide-list {
    height: 100%;
    width: 100%;
}

.my-card-content {
    padding-left: 16px;
    overflow: hidden;
}

.my-place-guide-image {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.place-guide-description {
    padding-top: -20px;
    font-family: Montserrat;
    padding-right: 16px;
    padding-left: 16px;
    top: 0;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
}

.place-guide-title {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.place-guide-length {
    font-size: 10px;
    padding-bottom: 2px;
    font-style: italic;
    padding-left: 16px;
}

.list-place-guide-displayer {
    overflow:hidden; 
    overflow-y:scroll;
}

.content-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
}

#listPlaceGuideDisplayer {
  width: 350px;
  height: 93%;
  float: left;
}

#mapDisplayer {
  margin-left: 350px;
  height: 95%;
}

#mapDisplayer #map{
  height: 100%;
}

#specialMapDisplayer {
  margin-left: 35%;
  width: 65%;
  height: 95%;
}

#specialListPlaceGuideDisplayer {
  width: 0px;
}

.list-card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border: 0px;
  margin: 10px;
  padding: 30px 20px;
  width: 350px;
}

.form-card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border: 0px;
  margin: 10px;
  padding: 30px 20px;
  width: 95%;
  min-width: 250px;
}

.user-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: 0px;
}